<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjxx.system.dao.RoleMenuRelMapper" >
    <resultMap id="BaseResultMap" type="com.gjxx.system.entity.RoleMenuRel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,role_id,menu_id
    </sql>

</mapper>