.wrapper {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper-content {
    width: 900px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
}

.wrapper-header {
    width: 200px;
    height: 50px;
    border-radius: 0px 50px 0px 0px;
    background-color: #1aa194;
}

.wrapper-body {
    margin-top: -10px;
}

.modifyPassword {
    display: block;
    font-family: "microsoft yahei";
    font-size: 20px;
    color: white;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.passwordButton {
    text-decoration: none;
    text-align: center;
}